<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>

    <!-- Spring Listener -->
    <!--<bean id="springCtxListener" class="com.mypkg.startup.SpringApplicationContextListener"/>-->

    <!-- load the file name of properties in Spring like a variable -->
    <!--<util:properties id="appProperties" location="classpath:app.settings/app.properties" />-->

    <!-- load properties files to retrieve configurations with the own key -->
    <context:property-placeholder location="classpath*:app.settings/app.properties"/>

    <!-- Dependency Injection
    @see com.mypkg.startup.CheckMountPoints class -->
    <!--<bean name="checkMountPoints" class="com.mypkg.startup.CheckMountPoints" init-method="init">-->
        <!--<constructor-arg name="fileDir" value="${file.dir}"/>   &lt;!&ndash; Constructor Type Injection &ndash;&gt;-->
        <!--<property name="tempDir" value="${temp.dir}"/> &lt;!&ndash; Setter Type Injection &ndash;&gt;-->
    <!--</bean>-->

</beans>