<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false"> <!-- true : if you want to debug logback startup settings -->
    <!--<property resource="app.settings/app.properties"/>-->

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread%X{threadId}] %highlight(%-5level) %logger{35}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GLOBAL"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>C:\\_logs\\tasks\\global.log</file>-->
        <!--<file>C:/_logs/tasks/global.log</file>-->
        <file>/ec/stress/server/comext-local/performance-test/global.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/ec/stress/server/comext-local/performance-test/global-%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>200</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <Pattern>
                %d{ISO8601} [%thread] %-5level %logger{35}:%line - %msg%n
            </Pattern>
            <!--<immediateFlush>true</immediateFlush>-->
        </encoder>
    </appender>

    <appender name="TASKS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/ec/stress/server/comext-local/performance-test/tasks.log</file>
        <!--<file>C:/_logs/tasks/tasks.log</file>-->
        <!--<file>${log.file.global}</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!--<fileNamePattern>C:/_logs/tasks/tasks-%i.log.zip</fileNamePattern>-->
            <fileNamePattern>/ec/stress/server/comext-local/performance-test/tasks-%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>200</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <Pattern>
                %d{ISO8601} [%thread] %-5level %logger{35}:%line - %msg%n
            </Pattern>
            <!--<immediateFlush>true</immediateFlush>-->
        </encoder>
    </appender>

    <!-- Logback Logger to WARN Level -->
    <logger name="ch.qos.logback" level="WARN"/>

    <!-- Spring Logger to WARN Level -->
    <logger name="org.springframework" level="WARN"/>

    <!-- Error Logger -->
    <root level="ERROR">
        <appender-ref ref="GLOBAL"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- APPLICATION LOGGERS -->
    <logger name="com.giophub" level="DEBUG" additivity="false">
        <appender-ref ref="GLOBAL"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.giophub.task" level="INFO" additivity="true">
        <appender-ref ref="TASKS"/>
    </logger>
    <logger name="com.giophub.web.client" level="INFO" additivity="true">
        <appender-ref ref="TASKS"/>
    </logger>


</configuration>
